.ui.black.inverted.segment {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.ui.jumbotron.inverted.header {
  margin-top: 2em;
  font-size: 3.5em;
}
.jumbotron.text {
  font-size: 1.2em;
}
.row {
  padding: 5px!important;
}
.label.column {
  font-size: 0.9em;
}
.ui.black.inverted.segment{
  margin: 0em;
}
