.wrapper{
  position: relative;
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer-content {
  width: 100%;
  height: 20vh;
  background-color: silver;
  position: absolute;
}

.left-content{
  display: block;
}



