<div class="footer-content">
  <div class="ui grid">
    <div class="left floated five wide column">
      <div class="left-content">
        <h1 class="footer-title">Fact-M</h1>
        <p class="footer-comment">I want to spread music more</p>
        <i class="twitter square icon"></i>
        <i class="facebook icon"></i>
        <p class="footer-copyright">©︎ 2020 kubota etsuya</p>
      </div>
    </div>
    <div class="right floated five wide column">
      <p>アプリケーション概要</p>
    </div>
    <div class="right floated five wide column">
      <p>フッター要素</p>
    </div>
  </div>
</div>
