
<div class="wrapper">
  <div class="footer-content">
    <div class="ui grid">
      <div class="left floated five wide column">
        <div class="left-content">
          <h1 class="footer-title">Fact-M</h1>
          <p class="footer-comment">I want to spread music more</p>
          <i class="twitter square icon"></i>
          <i class="facebook icon"></i>
          <p class="footer-copyright">©︎ 2020 kubota etsuya</p>
        </div>
      </div>
      <div class="right floated five wide column">
        <h1>information</h1>
        <div class="ui list">
          <a class="item">概要</a>
          <a class="item">利用規約</a>
          <a class="item">プライバシー</a>
          <a class="item">お問い合わせ</a>
          <a class="item">ヘルプとサポート</a>
          <a class="item">リリース</a>
        </div>
      </div>
      <div class="right floated five wide column">
        <h1>bonus</h1>
        <div class="ui list">
          <a class="item">Profile</a>
          <a class="item">blog</a>
          <a class="item">twitter</a>
          <a class="item">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
