<%= form_with model: @post, local: true do |form| %>
  <div>
    <div>
      <%= form.text_field :title, placeholder:"タイトル" %>
    </div>
    <div>
      <div>
      <%= form.text_area :text, placeholder:"音楽の知識や技術を共有しよう" %>
      </div>
    </div>
  </div>
  <div>
    <%= form.submit "投稿する"%>
  </div>
<% end %>