<div class="backimage">

  <div class="login_menu">
    <div class="ui container">
      <div class="ui segment">
        <div class="stretched row">
          <div class="column">
            <div class="ui center aligned segment">
              <i class="user icon"></i>
              メールアドレス
            </div>
            <div class="ui center aligned segment">
              <i class="key icon"></i>
              パスワード
            </div>
              <div class="ui fluid large black submit button">ログイン</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>